.container{
    display:flex;
    align-content: space-between;  
    flex-wrap: wrap;
    justify-content:left;
    width: 92%;
    margin-top: 50px;
    margin-left: 4%;
    margin-right: 4%;
}

.like {
    padding: 10px 20px;
    margin: 10px 20px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    border: none;
	background-color: #333;
	cursor: pointer;
}
  

.highlighted {
	background-color: deeppink;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    padding: 5px 10px;    
    color: #2B2420;
}
h1,
h2,
h3,
h4{
    font-family: 'Economica', sans-serif;
    font-size: 24px;
    padding: 5px 10px;    
    color: #2B2420;
}

a{
    padding: 10px;
}
.elements{
    flex-wrap: wrap;
    background-color: #ffffff;
    margin: 20px;
    /* width: 360px; */
    width: 370px;
    margin-top: 50px;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px #c9c9c9;
    transition: 0.15s;
}

.elements:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 2px 2px 10px 6px #a3a3a3;
}

.elements image{
    width: 360px; 
    margin-left: 0px;
    margin-right: 0px;
    align-content: center;
}

.elements div{
    display: flex;
    align-content: space-between;  
    flex-wrap: wrap;
    justify-content:center;
}


.elements div button{
    padding: 10px 20px;
    margin: 10px 20px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    background-color: #4595e0;
}

.elements div button:hover,
.elements div button:focus{    
    transition: 0.3s;
    outline: none;
    transform: scale(1.05, 1.05);
    background-color: #164d94;
    cursor: pointer;
}