body {background-color: #fafafa;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;}

.container {
    display: flex;
    width: 760px;
    margin: auto;  
    padding: 50px;
}

.container2 {
    margin-left: 30px;
    margin-top: 20px;
    width: 350px;
    height: 550px;
}

.box {
    width: 308px;
    height: 338px;
    border: 1px solid;
    padding: 20px;
    border-color: #ccc;
    background: #FFFFFF;
}

.box2 {
    margin-top: 20px;
    width: 328px;
    height: 40px;
    border: 1px solid;
    padding: 10px;
    border-color: #ccc;
    background: #FFFFFF;
}

.phone{
    width: 380px;
}

.input_box{
    display: flex;
    margin: auto;
    color: #000000;
    width: 80%;
    height: 38px;
    padding-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 2px;
    background: #fafafa;
    border: 0.5px solid #dbdbdb;
    box-sizing: border-box;
}

.input_box:focus{
    transition: 0.1s;
    outline: none;
    cursor: pointer;
    border: 1px solid #a8a8a8;
}

.btn_enter{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    height: 32px;
    color: #ffffff;
    background: #0095f6;
    text-decoration: bold;
    border: none;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.btn_enter:hover,
.btn_enter:focus {
    transition: 0.1s;
    outline: none;
    background-color: #166fe5;
    cursor: pointer;
}

.link{
    text-decoration: bold;
    color: #0095f6;
    text-decoration-line: none;
}

.text{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    display: block;
    width: 300px;
    padding: 12.5px;
    margin:auto;
    text-align: center;
}

.line {
    background-color: #ddd;
    width : 40%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}
.separator {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
    color: #999;
    margin-top: 6px;
}

.images{
    display: flex;
}

.flex{
    display: flexbox; 
    width: 760px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.flex-itm {  
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
    padding-top: 8px;
    text-decoration-line: none; 
	color: #444444;
    background: #ffffff;    
	margin: 5px;
    padding: 5px;
}