.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #587fff;
    color: white;
    font-weight: 600;
    padding: 5px 50px 5px 50px;
}

.link{ 
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a{
  color: white;
  text-decoration-line: none;
  font-size: 18px;
  transition: 0.2s;
}

a:hover{
  opacity: 0.75;
  transition: 0.2s;
  cursor: pointer;
  font-size: 26px;
}